<template lang="html">
<div class="">
  <h1>Hello</h1>
</div>
</template>

<script>
export default {
  data () {
    return {}
  },
  computed: {},
  ready () {},
  attached () {},
  methods: {},
  components: {}
}
</script>

<style lang="css" scoped>
h1{
  color:blue;
  font-size:14px;
}
</style>
