<template lang="html">
<h1>Menu</h1>
</template>

<script>
export default {
  data () {
    return {}
  },
  computed: {},
  ready () {},
  attached () {},
  methods: {},
  components: {}
}
</script>

<style lang="scss" scoped>
$gcolor:green;
h1{
  color:$gcolor;
  font-size:32px;
}
</style>
